<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/pp.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Autor</ion-card-subtitle>
      <ion-card-title>Moacir H.</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Moacir Henrique, 20 anos, nasceu e cresceu em Fraiburgo.
      Hoje faz faculdade no IFSC de Caçador, SC, cursa Sistema de Informação.
      Desenvolveu essa página para contar um pouco mais sobre a sua cidade, com uma foto e um pouco mais
      sobre a historia da cidade.
    </ion-card-content>
  </ion-card>
</ion-content>
