<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <img src="assets/images/portal-fraiburgo.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destino</ion-card-subtitle>
      <ion-card-title>Fraiburgo, SC</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Fraiburgo é um município no estado de Santa Catarina, Região Sul do país. A cidade foi fortemente influenciada 
      pelos imigrantes europeus, especialmente alemães e italianos, embora outras nacionalidades também tenham contribuído em outros aspectos 
      como arquitetura, gastronomia, religião e economia.
    </ion-card-content>
  </ion-card>

  
</ion-content>
